.project-header {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #212121;
}
.project-subheader {
    text-align: center;
}
.project-spinner {
    margin-bottom: 4rem;
}
.center-btn {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 1rem;
}
.tasks-container {
    min-height: 600px;
    margin: 0 auto;
    width: 900px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}
.add-btn {
    margin-bottom: 0.7rem;
    margin-left: 1rem;
    background-color: #fff;
    color: #2f6e91;;
}
.add-btn:hover {
    color: #fff;
}
.project-tasks {
    display: flex;
    flex-direction: column;
}
.project-tasks div {
    width: 100%;
    border: 1px solid #e0e0e0;
    height: 40px;
    line-height: 1.5em;
    outline: 0;
    font-size: 16px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}
.project-tasks i {
    color: #7fb6d4;
    margin-right: 1rem;
}
.project-tasks i:hover {
    cursor: pointer;
}
.project-tasks input {
    width: 92.5%;
    outline: none;
    border: none;
    height: 36px;
}
.project-tasks .task-info {
    font-size: 12px;
    text-align: center;
    padding: 0.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.project-tasks .task-info:nth-of-type(1) {
    margin-right: 2rem;
    width: 100px;
}
.project-tasks .task-info:nth-of-type(2) {
    width: 60px;
}
.project-tasks .task-info:hover {
    cursor: pointer;
    background-color: #fafafa;
}
.projects-first-row {
    display: flex;
    height: 75px;
    align-items: center;
}
.muted {
    color: #616161;
}
.projects-column-headers {
    display: flex;
    margin-left: auto;
    font-size: 14px;
    margin-right: 16px;
    font-weight: 300;
}
.projects-column-headers p:nth-of-type(1) {
    margin-right: 1.35rem;
    width: 100px;
    text-align: center;
}
.projects-column-headers p:nth-of-type(2) {
    width: 55px;
    text-align: center;
}
